In [1]:
# Create a Dataset

import pandas as pd
import numpy as np


# Raw data exactly as provided
raw_data = [
    [101, "John Doe", 30, 50000, "2020-01-01", "Sales"],
    [102, "jane smith", 25, 60000, "02/01/2021", "Engineering"],
    [103, "Bob Johnson", np.nan, 55000, "2019-05-15", "Sales"],
    [104, "Alice Brown", 40, 70000, "2022-10-10", "Engineering"],
    [105, "Charlie", 22, 66000, "2023-01-01", "Sales"],
    [106, "D. D. ", 28, 52000, "2020-03-01", "SALES"],
    [107, "Eva Green", 35, np.nan, "04-12-2020", "HR"],
    [108, "Frank White", 36, 60000, "2021-07-01", "Eng"],
    [109, "Grace", 30, 50000, "2020-01-01", "Sales"],
    [101, "John Doe", 30, 50000, "2020-01-01", "Sales"],
    [110, "Henry", np.nan, np.nan, np.nan, "Marketing"]
]

# Define column names
columns = ["ID", "Name", "Age", "Salary", "Hire_Date", "Department"]

# Create DataFrame directly from raw_data
df = pd.DataFrame(raw_data, columns=columns)

print(df)

     ID         Name   Age   Salary   Hire_Date   Department
0   101     John Doe  30.0  50000.0  2020-01-01        Sales
1   102   jane smith  25.0  60000.0  02/01/2021  Engineering
2   103  Bob Johnson   NaN  55000.0  2019-05-15        Sales
3   104  Alice Brown  40.0  70000.0  2022-10-10  Engineering
4   105      Charlie  22.0  66000.0  2023-01-01        Sales
5   106       D. D.   28.0  52000.0  2020-03-01        SALES
6   107    Eva Green  35.0      NaN  04-12-2020           HR
7   108  Frank White  36.0  60000.0  2021-07-01          Eng
8   109        Grace  30.0  50000.0  2020-01-01        Sales
9   101     John Doe  30.0  50000.0  2020-01-01        Sales
10  110        Henry   NaN      NaN         NaN    Marketing

In [19]:
# Data Inspection

print("\nDataFrame Info:")
df.info()


print("\nDataFrame Head:")
print(df.head())

print("\nDataFrame Shape:")
print(df.shape)

DataFrame Info:
<class 'pandas.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          11 non-null     int64
 1   Name        11 non-null     str
 2   Age         9 non-null      float64
 3   Salary      9 non-null      float64
 4   Hire_Date   10 non-null     str
 5   Department  11 non-null     str
dtypes: float64(2), int64(1), str(3)
memory usage: 660.0 bytes

DataFrame Head:
    ID         Name   Age   Salary   Hire_Date   Department
0  101     John Doe  30.0  50000.0  2020-01-01        Sales
1  102   jane smith  25.0  60000.0  02/01/2021  Engineering
2  103  Bob Johnson   NaN  55000.0  2019-05-15        Sales
3  104  Alice Brown  40.0  70000.0  2022-10-10  Engineering
4  105      Charlie  22.0  66000.0  2023-01-01        Sales

DataFrame Shape:
(11, 6)

In [20]:
# Identify and remove the duplicate rows
df = df.drop_duplicates()

In [21]:
# Clean Text
df['Name'] = df['Name'].str.strip().str.title()
df['Department'] = df['Department'].str.strip().str.title().replace({'Eng': 'Engineering'})

In [22]:
# Handle Missing Values
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)
df['Salary'] =df['Salary'].fillna(df['Salary'].mean()).round(2)

In [25]:
# Standardize Date Format
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Fill the missing Hire_Date with a placeholder
df['Hire_Date'] = df['Hire_Date'].fillna(df['Hire_Date'].mode()[0])

print("\nCleaned DataFrame:")
print(df)

Cleaned DataFrame:
     ID         Name  Age   Salary   Hire_Date   Department
0   101     John Doe   30  50000.0  2020-01-01        Sales
1   102   Jane Smith   25  60000.0  2020-01-01  Engineering
2   103  Bob Johnson   30  55000.0  2019-05-15        Sales
3   104  Alice Brown   40  70000.0  2022-10-10  Engineering
4   105      Charlie   22  66000.0  2023-01-01        Sales
5   106        D. D.   28  52000.0  2020-03-01        Sales
6   107    Eva Green   35  57875.0  2020-01-01           Hr
7   108  Frank White   36  60000.0  2021-07-01  Engineering
8   109        Grace   30  50000.0  2020-01-01        Sales
10  110        Henry   30  57875.0  2020-01-01    Marketing

In [26]:
# Dataset Description
print("\nDataFrame Description:")
print(df.describe(include='all'))

DataFrame Description:
               ID      Name        Age        Salary   Hire_Date Department
count    10.00000        10  10.000000     10.000000          10         10
unique        NaN        10        NaN           NaN           6          4
top           NaN  John Doe        NaN           NaN  2020-01-01      Sales
freq          NaN         1        NaN           NaN           5          5
mean    105.50000       NaN  30.600000  57875.000000         NaN        NaN
std       3.02765       NaN   5.274677   6573.304598         NaN        NaN
min     101.00000       NaN  22.000000  50000.000000         NaN        NaN
25%     103.25000       NaN  28.500000  52750.000000         NaN        NaN
50%     105.50000       NaN  30.000000  57875.000000         NaN        NaN
75%     107.75000       NaN  33.750000  60000.000000         NaN        NaN
max     110.00000       NaN  40.000000  70000.000000         NaN        NaN