In [7]:
# Create a Dataset

import pandas as pd
import numpy as np


# Raw data exactly as provided
raw_data = [
    [101, "John Doe", 30, 50000, "2020-01-01", "Sales"],
    [102, "jane smith", 25, 60000, "02/01/2021", "Engineering"],
    [103, "Bob Johnson", np.nan, 55000, "2019-05-15", "Sales"],
    [104, "Alice Brown", 40, 70000, "2022-10-10", "Engineering"],
    [105, "Charlie", 22, 66000, "2023-01-01", "Sales"],
    [106, "D. D. ", 28, 52000, "2020-03-01", "SALES"],
    [107, "Eva Green", 35, np.nan, "04-12-2020", "HR"],
    [108, "Frank White", 36, 60000, "2021-07-01", "Eng"],
    [109, "Grace", 30, 50000, "2020-01-01", "Sales"],
    [101, "John Doe", 30, 50000, "2020-01-01", "Sales"],
    [110, "Henry", np.nan, np.nan, np.nan, "Marketing"]
]

# Define column names
columns = ["ID", "Name", "Age", "Salary", "Hire_Date", "Department"]

# Create DataFrame directly from raw_data
df = pd.DataFrame(raw_data, columns=columns)

print(df)

     ID         Name   Age   Salary   Hire_Date   Department
0   101     John Doe  30.0  50000.0  2020-01-01        Sales
1   102   jane smith  25.0  60000.0  02/01/2021  Engineering
2   103  Bob Johnson   NaN  55000.0  2019-05-15        Sales
3   104  Alice Brown  40.0  70000.0  2022-10-10  Engineering
4   105      Charlie  22.0  66000.0  2023-01-01        Sales
5   106       D. D.   28.0  52000.0  2020-03-01        SALES
6   107    Eva Green  35.0      NaN  04-12-2020           HR
7   108  Frank White  36.0  60000.0  2021-07-01          Eng
8   109        Grace  30.0  50000.0  2020-01-01        Sales
9   101     John Doe  30.0  50000.0  2020-01-01        Sales
10  110        Henry   NaN      NaN         NaN    Marketing

In [8]:
# Identify and remove the duplicate rows
df = df.drop_duplicates()

In [9]:
# Clean Text
df['Name'] = df['Name'].str.strip().str.title()
df['Department'] = df['Department'].str.strip().str.title().replace({'Eng': 'Engineering'})

In [10]:
# Handle Missing Values
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)
df['Salary'] =df['Salary'].fillna(df['Salary'].mean()).round(2)

In [11]:
# Standardize Date Format
df['Hire_Date'] = pd.to_datetime(df['Hire_Date'], errors='coerce').dt.strftime('%Y-%m-%d')

print("\nCleaned DataFrame:")
print(df)

Cleaned DataFrame:
     ID         Name  Age   Salary   Hire_Date   Department
0   101     John Doe   30  50000.0  2020-01-01        Sales
1   102   Jane Smith   25  60000.0         NaN  Engineering
2   103  Bob Johnson   30  55000.0  2019-05-15        Sales
3   104  Alice Brown   40  70000.0  2022-10-10  Engineering
4   105      Charlie   22  66000.0  2023-01-01        Sales
5   106        D. D.   28  52000.0  2020-03-01        Sales
6   107    Eva Green   35  57875.0         NaN           Hr
7   108  Frank White   36  60000.0  2021-07-01  Engineering
8   109        Grace   30  50000.0  2020-01-01        Sales
10  110        Henry   30  57875.0         NaN    Marketing